@model MoroskoWebsite.Models.Final

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Final</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.finalname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finalgrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalgrade)
        </dd>

    </dl>
</div>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
