@model MoroskoWebsite.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.coursename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coursename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coursegrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coursegrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Final.finalname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Final.finalname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
